$primary: #37a437;
$secondary: #408964;
$info: #bbf79f;
$success: #28c02b;
$warning: #feca32;
$danger: #fc1350;
$light: #c7d8f5;
$dark: #383e5a;
$accent1: #6d6d9d;
$accent2: #797cc6;
$accent3: #a6b4d5;

$primary100: #E4FAD9;
$primary200: #C5F5B4;
$primary300: #98E388;
$primary400: #6DC864;
$primary500: $primary;
$primary600: #288D30;
$primary700: #1B762B;
$primary800: #115F25;
$primary900: #0A4E22;

$secondary100: #DEF9E1;
$secondary200: #BFF3C9;
$secondary300: #95DBA9;
$secondary400: #6EB88B;
$secondary500: $secondary;
$secondary600: #2E7558;
$secondary700: #20624E;
$secondary800: #144F43;
$secondary900: #0C413C;

$info100: #F6FEEC;
$info200: #ECFED9;
$info300: #DEFCC6;
$info400: #D0FAB7;
$info500: $info;
$info600: #8CD474;
$info700: #62B150;
$info800: #3D8F32;
$info900: #23761E;

$success100: #E1FBD3;
$success200: #BDF8A9;
$success300: #8DEC7B;
$success400: #60D958;
$success500: $success;
$success600: #1DA52B;
$success700: #148A2B;
$success800: #0C6F28;
$success900: #075C26;

$warning100: #FEF8D5;
$warning200: #FEF0AD;
$warning300: #FEE583;
$warning400: #FEDB65;
$warning500: $warning;
$warning600: #DAA724;
$warning700: #B68619;
$warning800: #93670F;
$warning900: #795109;

$danger100: #FED5CF;
$danger200: #FEA3A0;
$danger300: #FE717A;
$danger400: #FD4D6A;
$danger500: $danger;
$danger600: #D80D56;
$danger700: #B50957;
$danger800: #920653;
$danger900: #78034F;